body {
  background-color: #f8f9fa;
}

/* Form folders and links */

.card {
  border-radius: 16px;
}

input::placeholder {
  font-size: 0.9rem;
}

.list-group-item {
  font-size: 0.85rem;
}

/* Flotant button */
.fab-add-folder {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
}

.fab-add-folder svg {
  width: 22px;
  height: 22px;
}

/* Folder delete button */
.folder-delete-btn {
  position: absolute;
  top: -16px;
  right: -16px;
  width: 44px;
  height: 44px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 3px solid #fff;
  z-index: 20;

  transition: transform 0.15s ease, opacity 0.15s ease;
}

.folder-delete-btn i {
  font-size: 1.25rem;
}